#t1{
    color: white;
    font-size: 20px;
    margin-top: 9px;
}
#t2{
   color: white; 
    margin-top: 17px;
    font-size: 12px;
}
#t3{
   color: white;
    font-size: 20px;
    margin-top: 9px;
}
#t4{
   color: white;
    font-size: 20px;
    margin-top: 9px;
}
#t5{
   color: white; 
    font-size: 20px;
    margin-top: 9px;
}
#t6{
    color: white;
font-size: 30px;
    padding-left: 0px;
}
.fa{
    color: white;
}
#t11{
    font-size: 16px;
   
}

#t12{
    color:#6495ed;
    background-color: white;
    border:1px solid #6495ed;
}
#t34{
    font-size: 12px;
}
#t56{
   border-right: 1px solid #6495ed; 
    padding-top: 10px;
    margin-top: 14px;
    color: white;
}

  
